@page
@using StudentHouseDashboard.Models;
@model WebApp.Pages.AnnouncementModel
@{
    Announcement announcement = (Announcement)ViewData["announcement"];
    ViewData["Title"] = $"{announcement.Title}";
}
<h1>@announcement.Title</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <p>Title: </p>
            <p>Author: </p>
            <p>Description: </p>
            <p>Date: </p>
            <p>Important: </p>
            <p>Pinned: </p>
        </div>
        <div class="col">
            <p>@announcement.Title</p>
            <p>@announcement.Author.Name</p>
            <p>@announcement.Description</p>
            <p>@announcement.PublishDate.ToString("g")</p>
            <p>@announcement.IsImportant.ToString()</p>
            <p>@announcement.IsSticky.ToString()</p>
        </div>
    </div>
</div>

